.ft {
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    margin: 0px;
    padding-left: 150px;
  }
  .d1{
    height: 100%;
    width: 33.33%;
    padding-top: 50px;
  
  }
  .d1 p{
    font-size: 17px;
    color: white;
    line-height: 35px;
  }
  .d1 a{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 15px;
  }